MONGO_URI=mongodb+srv://jishnu:ap@vip-cluster.hpihp8n.mongodb.net/?retryWrites=true&w=majority
REDIS_URL=redis://default:gQAAAAAAAZ9cAAIgcDE5N2RjZTQ4OTA0ZGE0MTc1YWQ2YzhjODQ5MTI3NWFmMQ@destined-sheep-106332.upstash.io:6379
AI_API_KEY = 
AI_PROVIDER = mistral
RATE_LIMIT_MAX = 100